nav.navbar {
    padding-left: 30px;
}

article {
    /*background-color: silver;*/
}

#main {

}

#aside {
    /*background-color: olive;*/
    float:right;
    width:200px;
    height:250px;
    border: 2px solid;
    border-radius: 30px;
    border-color: black;
    margin: 0 auto;
    margin-top: 30px;

}

#filter_title{
    text-align: center;
}

a {
    text-decoration: none;
    color: #103492;
}

a:hover {
    text-decoration: none;
    color: #03174a;
}