{% extends 'rest_framework/base.html' %}

{% block title %}
    About
{% endblock title %}

{% block breadcrumbs_empty %}
    <span class="active">About</span>
{% endblock breadcrumbs_empty %}


{% block content %}
    <div class="container">
        <p></p>

        <p>
            <b>Server version: <span style="color: darkred">{{ server_version }}</span></b>
        </p>


        <p>
            <b>- <a href="{% url 'manuscript-api-list' %}">api/v1/manuscript/</a></b>
            (список записей);
        </p>
        <p>
            <b>- <a href="{% url 'manuscript-img-list' %}">api/v1/manuscript/img/</a></b>
            (список изображений);
        </p>

    </div>
{% endblock content %}