<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<p>{{ message }}</p>
{% for manuscript_info in manuscript_list_api %}
    <h1><a href="#">{{ manuscript_info.title }}</a></h1>
    {% for images in manuscript_info.images %}
        <img src="{{ images.image }}" width="100" height="100">
    {% endfor %}
    {% if manuscript_info.author %}
        <p>Author: {{ manuscript_info.author }}</p>
    {% endif %}
    {% if manuscript_info.storage %}
        <p>Storage: {{ manuscript_info.storage }}</p>
    {% endif %}
    {% if manuscript_info.creation_date %}
        <p>Creation date: {{ manuscript_info.creation_date }}</p>
    {% endif %}
    {% if manuscript_info.gospel %}
        <p>Gospel: {{ manuscript_info.gospel }}</p>
    {% endif %}
    {% if manuscript_info.lectionary %}
        <p>Lectionary: {{ manuscript_info.lectionary }}</p>
    {% endif %}
    {% if manuscript_info.lectionary_description %}
        <p>Lectionary description: {{ manuscript_info.lectionary_description }}</p>
    {% endif %}
    {% if manuscript_info.description %}
        <p>Description: {{ manuscript_info.description }}</p>
    {% endif %}
{% endfor %}
</body>
</html>